.Header{

margin: 20px 50px;
border-bottom: #fff solid 1px;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .links{
            display: flex;
            justify-content: space-between;
            font-size: 28px;
            .linkLife{
                color: #F44C4C;
            }
            span{
                margin-right: 20px;
                height: 100%;
                a{color: #fff;}
            }
        }
    }
}
@media (max-width:768px){
    .Header{
margin: 0px 20px;
    }
    
    }